.btn{
    width: 60px;
    height: 30px;
    align-items: center;
    background-color: rgb(229, 180, 180);
    border-radius: 20px;
    font-size: larger;
}
#Display{
    width: auto;
    height: 4000px;
}
#Table{
    position: absolute;
    border: 10px;
    background-color: blue;

}
